.Top {
  top: 100px;
  z-index: 0;
}

.player {
  display: inline-block;
  border-radius: 5px;
  width: 200px;
  box-shadow: 5px 5px 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  text-align: center;
  background-color: rgb(46, 45, 45, 0.7);
  color: white;
  box-shadow: 5px 5px 20px black;
}

.homeTitle {
  display: inline-block;
  margin-top: 10%;
  z-index: 0;
  margin-bottom: 0;
  color: white;
}
.homediv {
  width: 100%;
  text-align: center;
}

.card {
  margin: 20px;
  background-color: rgb(46, 45, 45, 0.7);
  color: white;
}

.list-group-item {
  background-color: rgb(46, 45, 45, 0.7);
}
