body{
  background-image: url("./Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}


/* .Top{
  display: inline-block;
  border-radius: 5px;
  height: 500px;
  width: 200px;
  box-shadow: 5px 5px 20px;
  margin: 5%;
}
.App{
  text-align: center
} */